.navBar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: royalblue;
}

.logotype{
    width: 100px;
    cursor: pointer;
}

.recipe{
    grid-column: 2/3;
    align-self: center;
    cursor: pointer;
}

.signin{
    grid-column: 10/11;
    align-self: center;
    cursor: pointer;
}

.profile{
    grid-column: 9/10;
    align-self: center;
    cursor: pointer;
}